{% extends "layout.html" %} {% block content %}
<header>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item navlogo" href="#"> Jeyasurya U R </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item"> Home </a>

        <a class="navbar-item"> About </a>

        <a class="navbar-item"> Portfolio </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a
              class="button is-primary"
              href="/media/Resume-JS.pdf"
              ,
              target="_blank"
            >
              <strong>My Resume</strong>
            </a>
            <a class="button is-light"> Contact Me </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

{% endblock %}
