{% extends "layout.html" %} {% load static %} {% block content %}
<header>
  <nav
    class="navbar is-dark is-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="navbar-brand">
      <a class="navbar-item" href="index.html"> Jeyasurya UR </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navigation"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navigation" class="navbar-menu">
      <div class="navbar-end">
        <a href="index.html" class="navbar-item">Home</a>
        <a href="about.html" class="navbar-item">About</a>
        <a href="blog.html" class="navbar-item">blog</a>
        <a href="portfolio.html" class="navbar-item">portfolio</a>
        <a href="contact.html" class="navbar-item">contact</a>
      </div>
    </div>
  </nav>
</header>

<!-- hero area -->
<section class="hero-area" id="parallax">
  <div class="container">
    <div class="columns">
      <div class="column is-11-desktop is-offset-1 is-offset-1-mobile">
        <h2 class="has-text-white font-two">Hey! I’m</h2>
        <h1 class="color-three font-one">
            Jeyasurya U R
        </h1>
        <h2 class="has-text-white font-two">
          <span class="auto-typed is-underlined">Full Stack Developer</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="layer" id="l2">
    <img
      src="{% static 'folio/images/illustrations/dots-cyan.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l3">
    <img
      src="{% static 'folio/images/illustrations/leaf-orange.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l4">
    <img
      src="{% static 'folio/images/illustrations/dots-orange.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l5">
    <img
      src="{% static 'folio/images/illustrations/leaf-yellow.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l6">
    <img
      src="{% static 'folio/images/illustrations/leaf-cyan.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l7">
    <img
      src="{% static 'folio/images/illustrations/dots-group-orange.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l8">
    <img
      src="{% static 'folio/images/illustrations/leaf-pink-round.png' %}"
      alt="bg-shape"
    />
  </div>
  <div class="layer" id="l9">
    <img
      src="{% static 'folio/images/illustrations/leaf-cyan-2.png' %}"
      alt="bg-shape"
    />
  </div>
  <!-- social icon -->
  <div class="list list-hero-social">
    <a class="list-item has-text-white" href="#"><i class="ti-facebook"></i></a>
    <a class="list-item has-text-white" href="#"
      ><i class="ti-instagram"></i
    ></a>
    <a class="list-item has-text-white" href="#"><i class="ti-dribbble"></i></a>
    <a class="list-item has-text-white" href="#"><i class="ti-twitter"></i></a>
  </div>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section has-background-light">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-four-fifths-desktop has-text-centered">
        <p class="font-two paragraph-lg has-text-dark">
          I am a versatile Full Stack Developer with a strong focus on Video Editing. My technical skills extend to C++, Python, C, Java, and JavaScript. Alongside my programming expertise, I have a creative flair for design.
          <br/> <br/>
          I've contributed to the development of a dairy products e-commerce Android app and have a portfolio that includes four small scale Web apps and one Android app. My unique blend of technical proficiency and aesthetics has led me to undertake freelance projects, crafting unique brand kits for small businesses. Beyond coding and design, I'm an avid chess player, passionate about the game as a hobby.
          <br />
        </p>
        <a href="about.html" class="button is-link">know more</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- skills -->
<section class="section has-background-light">
  <div class="container">
    <div class="has-text-centered">
      <h2 class="section-title has-text-dark">Skills</h2>
    </div>
    <div class="columns is-multiline is-flex-mobile">
      {% for skill in skills %}
      <div class="column is-3-desktop is-4-tablet is-6-mobile ">
        <div class="card shadow has-text-centered">
          <div class="is-relative rounded-top html-css-skill skill-embed" data-background="{% static 'folio/images/skills/'|add:skill.image %}">
          <div class="progress-wrapper" data-color="{{skill.color}}">
            <div class="wave" data-progress="{{skill.level}}%"></div>
          </div>
          <span class="skill-score">{{skill.score}}/10</span>
        </div>
          <div class="card-content has-background-white">
            <h4 class="has-text-black">{{skill.name}}</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /skills -->

{% endblock %}
