@font-face {
    font-family: 'Norwester';
    src: url("./fonts/norwester.otf") format('opentype');
}

@font-face {
    font-family: 'Kollektif';
    src: url("./fonts/Kollektif.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Setting up the color palette */
:root {
    --dark-grey: #222831;
    --grey: #31363F;
    --teal: #76ABAE;
    --teal2:rgb(53, 146, 151);
    --teal3:rgb(0, 242, 255);
    --white: #EEEEEE;
}

/* Applying the dark theme */
body {
    background-color: var(--dark-grey);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: var(--white);
}

/* Styling links */
a {
    color: var(--teal);
    font-family: 'Kollektif', sans-serif;
}

p, .paragraph {
    font-weight: 400;
    color: #4c4c4c;
    font-size: 15px;
    line-height: 1.8;
    font-family: "Roboto", sans-serif;
  }
  p-lg, .paragraph-lg {
    font-size: 22px;
  }

/* Styling headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--teal3);
    font-family: 'Norwester', sans-serif;
    line-height: 1.2;
}


h1, .h1 {
    font-size: 4.5rem;
}

h2, .h2 {
    font-size: 3.5rem;
}

h3, .h3 {
    font-size: 2.5rem;
}

h4, .h4 {
    font-size: 2rem;
}

h5, .h5 {
    font-size: 1.5rem;
}

h6, .h6 {
    font-size: 1rem;
}

/* For tablets: */
@media only screen and (max-width: 768px) {
    h1, .h1 {
        font-size: 3.5rem;
    }

    h2, .h2 {
        font-size: 2.5rem;
    }

    h3, .h3 {
        font-size: 2rem;
    }

    h4, .h4 {
        font-size: 1.5rem;
    }

    h5, .h5 {
        font-size: 1.25rem;
    }

    h6, .h6 {
        font-size: 1rem;
    }
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
    h1, .h1 {
        font-size: 2.5rem;
    }

    h2, .h2 {
        font-size: 2rem;
    }

    h3, .h3 {
        font-size: 1.5rem;
    }

    h4, .h4 {
        font-size: 1.25rem;
    }

    h5, .h5 {
        font-size: 1rem;
    }

    h6, .h6 {
        font-size: 0.875rem;
    }
}

.font-one {
    font-family: 'Norwester', sans-serif  !important;
}

.font-two {
    font-family: 'Kollektif', sans-serif  !important;
}

.font-three {
    font-family: 'Montserrat', sans-serif  !important;
}

.color-one {
    color: var(--teal)  !important;
}

.color-two {
    color: var(--teal2)  !important;
}

.color-three {
    color: var(--teal3)  !important;
}

.has-text-white {
    color: var(--white) !important;
}

.has-background-white {
    background-color: var(--white) !important;
}

.has-background-dark {
    background-color: var(--dark-grey) !important;
}

.neumorphic-dark {
    background: linear-gradient(145deg, #1f242b, #242b33);
    box-shadow:  20px 20px 60px #1d2229,
                -20px -20px 60px #272e37;
}

.neumorphic-light {
    background: #eeeeee;
    box-shadow:  20px 20px 60px #cacaca,
                -20px -20px 60px #ffffff;
}

/* Button style */
.button {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 5px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
}

.button:focus {
    outline: 0;
    box-shadow: none !important;
}

.button:active {
    box-shadow: none;
}

.button.is-small {
    font-size: 15px;
    padding: 10px 30px;
}

.button.is-extra-small {
    padding: 5px 10px;
    font-size: 15px;
}

.button.is-primary {
    background-color: var(--teal);
    color: var(--white);
}

.button.is-primary:active {
    background-color: var(--teal2) !important;
}

.button.is-primary:hover {
    background-color: var(--teal2);
}

.button.is-primary.focus,
.button.is-primary.is-active {
    background-color: var(--teal2) !important;
    box-shadow: none !important;
}

.button.is-link {
    background-color: transparent;
    color: var(--teal3);
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
}

.button.is-link:active,
.button.is-link:hover {
    color: var(--teal3);
    background: transparent;
}

ol,
ul {
    list-style-type: none;
    margin: 0px;
}

img {
    vertical-align: middle;
    border: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a,
button,
select {
    cursor: pointer;
    transition: 0.2s ease;
}

a:focus,
button:focus,
select:focus {
    outline: 0;
}

.slick-slide {
    outline: 0;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-title {
    margin-bottom: 80px;
    font-family: "Norwester", serif;
}

.section.is-small {
    padding-top: 40px;
    padding-bottom: 40px;
}

.has-background-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* overlay */
.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}

.outline-0 {
    outline: 0 !important;
}

.d-unset {
    display: unset !important;
}

/* icon */
.icon {
    font-size: 45px;
    height: unset;
    width: unset;
}

.icon-bg {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
}

.icon-light {
    color: #c8d5ef;
}


/* /icon */
/* slick slider */
.slick-dots {
    text-align: center;
    padding-left: 0;
}

.slick-dots li {
    display: inline-block;
    margin: 2px;
}

.slick-dots li.slick-active button {
    background: var(--white);
    width: 25px;
}

.slick-dots li button {
    height: 6px;
    width: 12px;
    background: rgba(255, 255, 255, 0.5);
    color: transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease;
    border: 0;
}

/* /slick slider */
/* form */
.input {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid --white;
    height: 60px;
    box-shadow: none;
}

.input:focus {
    border-color: var(--grey);
    outline: 0;
    box-shadow: none !important;
}

textarea.input {
    height: 120px;
}

/* /form */
/* card */
.card {
    border: 0;
}

.card-header {
    border: 0;
}

.card-footer {
    border: 0;
}

.navlogo {
    font-family: 'Norwester', sans-serif;
    font-size: larger;
}

/* Hero Section */
.list-hero-social {
    position: relative;
    z-index: 10;
    box-shadow: none;
    border: none;
    width: 40px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-hero-social .list-item {
    border-radius: 50px;
    background: linear-gradient(225deg, #1f242c, #242b34);
    box-shadow:  -20px 20px 60px #1d222a,
                20px -20px 60px #272e38;
    margin: 0 4px 10px 4px; /* Add space between icons */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 16px 28px;
}

.list-hero-social .dropdown-item {
    opacity: 1 !important;
    padding: 12px !important;
    vertical-align: middle !important;
    line-height: 1 !important;
}

.list-hero-social .dropdown-menu {
    min-width: 24px !important;
}

.list-hero-social .list-item i, .list-hero-social .dropdown-item i {
    font-size: 24px; /* Increase icon size */
}

@media (max-width: 425px) {
    .list-hero-social .list-item i, .list-hero-social .dropdown-item i {
        font-size: 16px;
    }
}
.hero-img-wrap {
    width: 300px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.hero-img-wrap .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transform: scale(1.2);
    position: absolute;
}

/* Change flex direction to row for mobile or tablet devices */
@media screen and (max-width: 768px) {
    .list-hero-social {
        flex-direction: row;
    }

    .hero-img-wrap {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

/* END Hero Section */

.buttons .button input {
    width: 0;
    visibility: hidden;
}

/* Styling the navbar */
.navbar.is-dark {
    background-color: var(--grey);
}

.navbar {
    padding: 40px 130px;
    transition: 0.3s ease;
    background: transparent !important;
}

.navbar.nav-bg {
    background-color: var(--dark-grey) !important;
    padding: 15px 100px;
}

@media (max-width: 991px) {
    .navbar.nav-bg {
        padding: 15px 20px;
    }
}

@media (max-width: 991px) {
    .navbar {
        padding: 20px;
        background: var(--dark-grey) !important;
    }
}

.navbar-item {
    text-transform: uppercase;
}

.navbar-item:hover {
    background-color: transparent !important;
}

.hero-area {
    height: 100vh;
    width: 100vw !important;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .hero-area {
        padding-top: 64px;
    }
}

.hero-area h1 {
    position: relative;
    z-index: 2;
}

/* skills */
.skill-card {
    border-radius: 20px;
    background: linear-gradient(145deg, #1f242c, #242b34);
    box-shadow:  20px 20px 60px #1d222a,
                -20px -20px 60px #272e38;
    overflow: hidden;
}
.progress-wrapper {
    height: 130px;
    overflow: hidden;
    opacity: 0.1;
    transition: 0.3s ease;
  }
.skill-score {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Norwester', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em; /* Adjust as needed */
}
  .wave {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .wave::before, .wave::after {
    content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 45%;
    transform: translateX(-50%) rotate(0);
    -webkit-animation: rotate 6s linear infinite;
            animation: rotate 6s linear infinite;
    z-index: 10;
  }
  .wave::after {
    border-radius: 47%;
    background-color: var(--white);
    transform: translateX(-50%) rotate(0);
    -webkit-animation: rotate 10s linear -5s infinite;
            animation: rotate 10s linear -5s infinite;
    z-index: 12;
  }
  
  @-webkit-keyframes rotate {
    50% {
      transform: translateX(-50%) rotate(180deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }
  
  @keyframes rotate {
    50% {
      transform: translateX(-50%) rotate(180deg);
    }
    100% {
      transform: translateX(-50%) rotate(360deg);
    }
  }

.skill-embed {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    opacity: 1; 
    z-index: 20;
    overflow: hidden;
}

.skill-embed:hover .progress-wrapper {
    opacity: 1;
    z-index: 10;
}
.skill-embed:hover .skill-score {
    opacity: 1;
    z-index: 20;
}
  /* /skills */

  /* education */
  .edu-card {
    height: 25vh;
    border-radius: 20px;
    background: #eeeeee;
    box-shadow:  20px 20px 60px #cacaca,
                -20px -20px 60px #ffffff;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 426px) {
    .edu-card h5{
        font-size: 16px !important; 
        line-height: 1.6 !important;
    }
    .edu-card p{
        font-size: 14px !important; 
        line-height: 1.4 !important;
    }
}

.edu-img-wrap {
    width: 40%;
    height: 100%; /* Add this line */
    border-radius: 16px;
    overflow: hidden;
}

.edu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.year-display {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: center;
    font-size: 150%;
    letter-spacing: 3px;
    color: #d6d6d6;
}

@media screen and (max-width: 425px) {
    .year-display {
        font-size: 120%;
        letter-spacing: 2px;
    }
}
  /* /education */

/* portfolio */
.portfolio-card {
    border-radius: 20px;
    background: linear-gradient(145deg, #1f242c, #242b34);
    box-shadow:  20px 20px 60px #1d222a,
                -20px -20px 60px #272e38;
    overflow: hidden;
}

  /* /portfolio */

/* footer */
.footer-section {
    padding-top: 200px;
  }
  
  .section-on-footer {
    margin-bottom: -250px !important;
  }
  
  .shadow-down {
    position: relative;
  }

  .shadow-down::before {
    position: absolute;
    content: "";
    box-shadow: 2px 2px 80.75px 14.25px rgba(224, 241, 255, 0.34);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  /* /footer */