<section class="section has-background-white" id="about">
    <div class="container">
        <div class="has-text-centered about-title">
            <h2 class="section-title has-text-black">About</h2>
        </div>
        <div class="columns is-centered">
            <div class="column is-four-fifths-desktop has-text-centered">
                <p class="font-two paragraph-lg has-text-dark about-text">
                    <span>
                        I am a versatile Full Stack Developer with a strong focus on Video Editing. My technical skills extend to C++, Python, C, Java, and JavaScript. Alongside my programming expertise, I have a creative flair for design.
                    </span>
                    <br />
                    <br />
                    <span class="is-hidden-mobile">
                        I've contributed to the development of a dairy products e-commerce Android app and have a portfolio that includes four small scale Web apps and one Android app. My unique blend of technical proficiency and aesthetics has led me to undertake freelance projects, crafting unique brand kits for small businesses. Beyond coding and design, I'm an avid chess player, passionate about the game as a hobby.
                    </span>
                    <br />
                </p>
            </div>
        </div>
    </div>
</section>