<footer class="footer-section has-background-dark">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-4-tablet">
                    <h5 class="has-text-light font-two">Email</h5>
                    <p class="has-text-white paragraph-lg font-one">jeyasurya0206@gmail.com</p>
                </div>
                <div class="column is-4-tablet">
                    <h5 class="has-text-light font-two">Phone</h5>
                    <p class="has-text-white paragraph-lg font-one">+91 6385133480</p>
                </div>
                <div class="column is-4-tablet">
                    <h5 class="has-text-light font-two">Address</h5>
                    <p class="has-text-white paragraph-lg font-one">Anna Nagar West, Chennai</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section is-small has-text-centered has-border-top is-border-dark">
        <p class="has-text-light font-two">©
            <script>
                var CurrentYear = new Date().getFullYear()
                document.write(CurrentYear)
            </script> JEYASURYA U R</a></p>
    </div>
</footer>