<section class="hero-area home" id="parallax">
    <div class="container" style="position: relative; z-index: 1;">
        <div class="columns is-vcentered is-multiline">
            <div class="column is-5-desktop is-offset-1-desktop is-12-mobile has-text-centered-mobile">
                <h4 class="has-text-white font-two pb-4">
                    <span>hey there! i'm</span>
                    <!--<h3 class="is-flex font-two">@jeyasuryaur</h3>-->
                </h4>
                <h3>
                </h3>
                <h2 class="font-one">Jeyasurya U R</h2>

                <h3 class="has-text-white font-two pt-2">
                    <span class="auto-typed is-underlined">Full Stack Developer</span>
                </h3>
            </div>
            <div class="hero-img-wrap column is-3-desktop is-6-mobile">
                <img src="{{ url_for('static', filename='images/Full.jpeg') }}" alt="JeyasuryaUR" class="hero-image" />
            </div>
            <div class="column is-1-desktop is-12-mobile list list-hero-social">
                <a class="list-item has-text-white" href="https://www.linkedin.com/in/jeyasuryaur/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="list-item has-text-white" href="https://github.com/JeyasuryaUR">
                    <i class="fab fa-github"></i>
                </a>
                <a class="list-item has-text-white" href="https://twitter.com/jeyasuryaur">
                    <i class="fab fa-twitter"></i>
                </a>
                <div class="dropdown is-hoverable is-up is-right">
                    <div class="dropdown-trigger">
                        <a class="list-item has-text-white button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content is-flex px-3">
                            <a class="dropdown-item has-text-centered" href="https://instagram.com/jeyasurya.u.r">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="dropdown-item has-text-centered" href="https://youtube.com/@jeyasuryaur">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="dropdown-item has-text-centered" href="https://stackoverflow.com/users/15129080/jeyasuryaur">
                                <i class="fab fa-stack-overflow"></i>
                            </a>
                            <a class="dropdown-item has-text-centered" href="https://www.twitch.tv/jeyasuryaur">
                                <i class="fab fa-twitch"></i>
                            </a>
                            <a class="dropdown-item has-text-centered" href="https://leetcode.com/jeyasuryaur">
                                <i class="fas fa-code"></i>
                            </a>
                            <a class="dropdown-item has-text-centered" href="https://hackerrank.com/jeyasuryaur">
                                <i class="fab fa-hackerrank"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>