<nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('home') }}">@jeyasuryaur</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navigation">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navigation" class="navbar-menu">
        <div class="navbar-end">
            <a href="#about" class="navbar-item">about</a>
            <a href="#skills" class="navbar-item">skills</a>
            <a href="#education" class="navbar-item">education</a>
            <a href="#portfolio" class="navbar-item">portfolio</a>
            <a href="#contact" class="navbar-item">contact</a>
        </div>
        <a href="{{ url_for('static', filename='Resume-JS.pdf') }}" class="navbar-item navitem-resume">download resume</a>
    </div>
</nav>